* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#container {
  width: 80%;
  margin: auto;
}

/*------------ navigation css is here -----------------*/
#header {
  border: 2px solid rgb(151, 150, 150);
  border-left: none;
  border-right: none;
}

#navigation_bar {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.float1 {
  float: left;
  width: 50%;
}

.float2 {
  float: right;
}
.clear {
  clear: both;
}

.navi_child {
  width: 100%;
  display: flex;
}

.img {
  box-sizing: border-box;
  width: 70%;
}
.navi_child_child {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-left: 10px;
}
.navi_child_child_right {
  border-radius: 20px 20px 20px 20px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin-left: 10px;
}
.app {
  padding: 10px;
  color: white;
  background-color: black;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.navi_child_child_right:hover {
  background-color: rgb(238, 230, 230);
}

.inp {
  border: 1px solid black;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
  height: 100%;
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}
/* -----------------------------body css  started---------------------------- */

#af_navigation {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  margin: 1%;
}
.af_child {
  box-sizing: border-box;
  border: 1px solid rgb(41, 40, 40);
  width: 16%;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 1%;
  padding-bottom: 2.5%;
  border-radius: 15px;
  height: 20%;
}
.af_child:hover {
  background-color: black;
  color: white;
}
.af_child > a {
  text-decoration: none;
  color: black;
}
.af_child > a:hover {
  color: white;
}

.af_ch_lt {
  float: left;
}
.af_ch_lt:hover {
  color: white;
}
.af_ch_rt {
  float: right;
}

/* --------------------------css of city------------------ */

#city {
  background-color: rgb(224, 221, 221);
  margin-top: 30px;
  font-family: Arial, sans-serif;
}

#c_child {
  width: 80%;
  margin: auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
#c_child > div {
  margin-top: 1%;
}
#c_child > div > p,
h3 {
  margin-top: 1%;
}
#city_img {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}
#city_img > a {
  box-sizing: border-box;
  text-decoration: inherit;
  color: inherit;
  width: 19%;
  margin: auto;
  /* box-shadow: inset 10px 10px #000000; */
  /* box-shadow: 10px 5px 5px rgb(214, 198, 198); */
}

#city_img > a > div > img {
  box-sizing: border-box;
  width: 100%;
}

.newyork {
  position: relative;
  margin-top: -40px;
  margin-left: 20px;
  font-size: 20px;
  color: #fff;
  font-weight: 900;
  text-shadow: 10px 10px 20px rgb(19, 18, 18);
}

/* -------------------css for lucknow--------------------------- */

#lucknow {
  width: 80%;
  box-sizing: border-box;
  margin: auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  font-family: Arial, sans-serif;
}
#lucknow div,
h3,
p {
  margin-top: 1%;
  box-sizing: border-box;
}
#l_child {
  display: flex;
  box-sizing: border-box;
}
#l_child > a {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  text-decoration: inherit;
  color: inherit;
  width: 24%;
  margin: auto;
}
#l_child > a img {
  width: 100%;
}

.a_img {
  margin-top: 10px;
}

/* ----------------------css of footers---------------------- */

#footer {
  background-color: rgb(212, 194, 194);
}
#f_child {
  width: 80%;
  box-sizing: border-box;
  margin: auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  font-family: Arial, sans-serif;
}
#f_child > div {
  display: flex;
}

.f_c_add {
  margin-left: 20px;
}
.f_c_add > a {
  font-family: Arial, sans-serif;
  text-decoration: inherit;
  color: inherit;
  font-weight: 600;
}
.f_c_add > a:hover {
  text-decoration: underline;
}
.f_c_add h5 {
  margin-top: 10px;
}

/*-------------------------------- product css ----------------------------------------*/

#menu {
  border: 1px solid grey;
}
#menu_child {
  width: 80%;
  box-sizing: border-box;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: Arial, sans-serif;
  display: flex;
}
#menu_child > a {
  text-decoration: inherit;
  color: inherit;
  margin-right: 20px;
}

#product {
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: Arial, sans-serif;
}
#product_child {
  display: flex;
}
#side_bar {
  font-family: Arial, sans-serif;
  width: 25%;
  border: 1px solid rgb(107, 99, 221);
  padding: 20px;
}

#side_body {
  width: 73%;
  margin-left: 10px;
  border: 1px solid rgb(133, 128, 204);
}

.side_l {
  float: left;
}
.side_r {
  float: right;
}
.side_clear {
  clear: both;
}

.product_d_flex {
  display: flex;
}
.product_d_flex > p {
  margin: 5px;
}

.all_c_p_l {
  box-sizing: border-box;
  margin-bottom: 10px;
}
.div_big {
  width: 60%;
  font-family: Arial, sans-serif;
  padding: 10px;
  display: flex;
  margin: auto;
  box-sizing: border-box;
}

.div_big > div {
  width: 32%;
  margin-left: 10px;
}
.img_div {
  margin: auto;
  width: 40%;
  box-sizing: border-box;
}
.img_div_img {
  box-sizing: border-box;
  width: 100%;
  height: 80%;
}
.final_div {
  padding: 10px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  margin-top: 10px;
}
/* .final_div:hover {
  border: 3px solid rgba(179, 175, 175, 0.5);
} */

.name_button {
  font-weight: 900;
  width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: yellow;
  border-radius: 15px;
}
.name_button:hover {
  background-color: rgb(241, 241, 168);
}
.name_section > h3 {
  margin-bottom: 10px;
}

.name_section > button {
  margin-top: 40%;
}

/* product_final.html */

#final_product {
  width: 80%;
  margin: auto;
}

.f_p_header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.f_p_flot_l {
  float: left;
}
.f_p_flot_l > a > button {
  width: 300px;
  padding: 15px;
  border-radius: 20px;
  background-color: yellow;
  font-weight: 900;
  margin-top: 50%;
  margin-bottom: 5%;
}
.f_p_flot_r {
  float: right;
}
.clear_both {
  clear: both;
}

.p_c {
  margin-top: 30%;
}
.p_c > div {
  margin-right: 30%;
  font-weight: 900;
}
